<h1>Posts</h1>
<%= link_to "New Post", new_post_url, class: "btn btn-primary" %> <br>
<% @posts.each do |post| %>
  <%= link_to post do %>
    <div class="card card-block">
      <h4 class="card-title"><%= post.title %></h4>
      <p class="card-text"><%= post.content %></p>
    </div>
  <% end %>
<% end %>